@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 25vw;
    overflow-x: hidden;
    margin: 0;
}
#createNewForm{
    display: none;
}
h1{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
}
h2{
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
}
#searchBarDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:10vh;
}
#searchTerm {
    border:none;
    border-bottom: 3px solid #da291c;
    width: 40vw;
    height: 40px;
    background: transparent;
    margin-top: 0;
}
.span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-content: space-evenly;
}
#addDeviceForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    border:none;
    border-bottom: 2px solid #da291c;
    width: 40vw;
    height: 40px;
    font-family: 'Lato';
    font-size: 16px;
    margin-top:40px;
    background: transparent;
    max-width: 100%;

}
select{
    margin-top:40px;
    border: 2px solid #da291c;
    border-radius: 20px;
    width: 40vw;
    height: 40px;
    padding-left: 10px;
    background: transparent;
    max-width: 100%;
}
option {
    font-family: 'Lato';
}
input[type=submit]{
border-radius: 20px;
background-color: #da291c;
    width: 20vw;
    height: 40px;
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 30px;
    color:#f2f2f2;
}
input:focus,
select:focus{
    width: 45vw;
    outline: none;
}
#submitButton{
    height: 45px;
    width: 80px;
    background-color: #da291c;
    color: #f2f2f2;
    border: none;
    border-radius: 20px;
    margin: 0;
    margin-left: 15px;
}
#submitButton:hover{
    background-color: #333333;
}
#createNew{
    margin-left: 25px;
    color: #333333;
}
#createNew:hover{
    color: #da291c;
}
#searchResults{
    display: hidden;
    grid-template-columns: 3;
    min-height: 80%;
    margin-top: 50px;
    text-align: center;
    margin-top: 50px;

}
#searchTerm:focus{
    width: 45vw;
    outline: none;
}
p{
    margin-top:5px;
}
.results{
    margin-right: 20px;
}
i:hover{
    cursor: pointer;
}
h2{
    font-family: 'Roboto';
}
p{
    font-family: 'Lato';
}
.price{
    font-weight: 400;
}
.color{
    font-weight: 300;
    font-style: italic;
}
#editDeviceForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes goUp{
    from{
        margin-top: 100vh;
    }
    to{
        margin-top: 50px;
    }
}
@keyframes goUp2{
    from{
       margin-top: 50vh;
    }
    to{
        margin-top: 10vh;
    }
}
@media only screen and (max-width: 900px) {
    #searchResults{
        display: flex !important;
        flex-direction: column;
    }
}