@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@700&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
#addDeviceForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
input{
    border:none;
    border-bottom: 2px solid #da291c;
    width: 40vw;
    height: 40px;
    font-family: 'Lato';
    font-size: 16px;
}
label{
    margin-top:20px;
    font-family: 'Lato';
}
select{
    margin-top:15px;
    border: 2px solid #da291c;
    border-radius: 20px;
    width: 40vw;
    height: 40px;
    padding-left: 10px;
}
option {
    font-family: 'Lato';
}
input[type=submit]{
border-radius: 20px;
background-color: #da291c;
    width: 20vw;
    height: 40px;
    font-family: 'Lato';
    font-size: 16px;
    margin-top: 30px;
    color:#f2f2f2;
}
input:focus,
select:focus{
    width: 45vw;
    outline: none;
}